@charset "utf-8"; /*문자 인코딩 방식 표기*/

/*선택자 : 대상을 구성하는 요소*/

/*태그선택자*/
h2{font-size:40px; font-family:"궁서"; color:#F00;}
div{width:300px; height:100px; background:gray;
	color:#FFF; border:5px solid #000;}
	
/*아이디선택자 : 중복불가*/	
#a{background:#cc0;}
#b{background:#c0c;}
#c{background:#0cc;}

/*클래스선택자 : 중복가능, 다중부여가능*/
.ab{font-family:"돋움"; font-weight:bold; color:#00f;}
.bc{font-size:30px; text-align:center;}