@charset "utf-8";

h1{background:#FFC900;}

#box{
	border:10px  ridge  #1C6EA4;
	width:400px; height:300px;
	margin:50px  100px;	/*외부여백*/
	background-color:#CADCAE;
	background-image:url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNTA1MDRfOTgg%2FMDAxNzQ2Mjg4ODk2NDY3.v30HCGrnEXUDu1kgy2F0XhgiaTlUetxK4oJ7UkOkyigg.4nX91oT170pM0DVhCUW4CxBjHvXnBZv5MJsds8qgzXsg.PNG%2Funnamed.png&type=sc960_832");
	background-size:100%  auto;
	outline:20px double #33A1E0; /*윤관선(외곽선)*/
	outline-offset:10px;
}

h2{
	border:5px  solid  #FBF3D5;
	color:#fff;
	font-family:"궁서";
	font-size:34px;
	text-align:center;
}