@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;}

/*상단영역 스타일*/
header{width:1200px; margin:0 auto;
  border:10px solid #000;}
header div{border:3px solid #f00;}  
header #seoul{overflow:hidden;}
header #seoul h2{float:left; margin-right:75px;}
header #seoul p{float:left;}
header #seoul ul{float:right;}
header #seoul li{float:left;}



main{border:10px solid #000; display:none;}


/*하단영역 스타일*/
footer{border:10px solid #000; display:none;}
