@charset "utf-8";

*{margin:0; padding:0;}
li{list-style:none;}
img,iframe{vertical-align:top;}

header{width:1140px; margin:0 auto; overflow:hidden;}
header #home{float:left;}
header #sns{float:left;}
header #lang_menu{float:right;}
header #lang_menu li{float:left;}
header hr{clear:both; border:0; border-top:1px solid #e4e4e4;}
header #logo{float:left; margin-top:25px; }
header #main_menu{float:left; margin:25px 0 0 70px;}
header #main_menu li{float:left;}

main{width:1140px; margin:20px auto 0; overflow:hidden;}
#contents p{float:left;}
#host p:nth-child(1){float:left;}
#host p:nth-child(2){float:right;}
#host p:nth-child(3){clear:both;}

footer{width:1140px; margin:0 auto; padding:30px 0 100px;
  background:#262b36;}
footer address{margin-left:70px;}