@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
img, iframe{vertical-align:top;}

body{font-family:"Noto Sans KR", sans-serif;}

/*상단스타일*/
header{width:1440px; padding:0 15px; margin:0 auto;
  border:3px solid #000;}
header div,
header nav{border:1px solid #f00;}
header .util_link{padding-top:15px;}
header .util_link > ul{display:flex; gap:3px;
  justify-content:flex-end;}
header .util_link > ul > li{border-top:3px solid #000;}  
header .util_link > ul > li > a{display:inline-block;
  height:40px; line-height:40px; padding:0 8px;
  color:#444; font-size:14px; text-decoration:none;}
header .util_link a i{display:inline-block;
  width:15px; height:8px; margin-left:12px;
  background:url("./images/ico_sm_black_open.png");}
header .sns{display:flex;}

header .top{display:flex; justify-content:space-between;
  height:120px; align-items:center;}
header #gnb ul{display:flex; gap:35px;}
header #gnb li{}
header #gnb a{font-size:22px; color:#222;
  text-decoration:none; font-weight:500;}

header #user_menu ul{display:flex;}